<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{%block title %}Home{% endblock %} :: Mischa Aster Alff</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Mischa Aster Alff's personal website, blog and showcase. Lots of coding, music, and rants!{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/zocial.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    {% block header %}{% endblock %}
  </head>

  <body>
    {% block navbar %}
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h2><a href="/" class="brand">Mischa Aster Alff's Blog</a> <small>A land of magic, programming and rants</small></h2>
          </div>
          <div class="pull-right">
            <div id="social-grid">
              <a href="https://github.com/Mischa-Alff"  ><img style="float:left" src="static/images/social/github_alt.png"></img></a>
              <a href="https://bitbucket.org/MrAster"   ><img style="float:left" src="static/images/social/bitbucket.png"></img></a>
              {#<br />#}
              <a href="https://youtube.com/TheGeekatory"><img style="float:left" src="static/images/social/youtube.png"></img></a>
              <a href="/rss"                            ><img style="float:left" src="static/images/social/feed.png"></img></a>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {#<div class="well">#}
        {% block content %}{% endblock %}
        {# </div>#}
      </div>
    </div>

    {% block js_footer %}{% endblock %}
  </body>
</html>
