<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mischa Aster Alff :: {%block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    {% block header %}{% endblock %}
  </head>

  <body>
    {% block topbar %}
      <div class="topbar">
        <div class="fill">
          <div class="container">
            <h2>
                <a href="/" class="brand">Mischa Aster Alff's Blog</a> <small>A land of magic, programming and rants</small>
            </h2>
          </div>
        </div>
      </div>
    {% endblock %}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block js_footer %}{% endblock %}
  </body>
</html>
