#blog_post
{
  color:#61E2FF;
  font-size:14px;
  font-family:monospace;
  font-weight:800;
  padding-bottom:15px;
}
#blog_title
{
  color:#008000;
  #text-shadow: 1px 1px 0 #559955;
  font-size:17px;
}
#blog_subtitle
{
  border:3px double #999999;
  #border-top:1px dotted #999999;
  color:#61E2FF;
  #text-shadow: 1px 1px 0 #999999;
  padding:6px;
  font-size:17px;
}
#blog_subentry
{
  border-left:1px dotted #999999;
}
#blog_function
{
  border: 1px dashed #A1A1A1;
  padding: 5px;
  color:#61E2FF;
}
#blog_entry
{
  color:#FFFFFF;
  font-size:12px;
  margin-left: 2em;
  margin-right: 2em;
  font-weight:500;
}
p
{
  text-indent: 1.5em;
}
#comment
{
  color:#008000;
}

a
{
  color:#81E647;
  font-weight:900;
}

img
{
  border: 2px dotted #A1A1A1;
  padding:3px;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}