{% extends "base.html" %}
{% block keywords %}mischa aster alff python website blog projects c++ c linux windows kernel coding programming music piano rants showcase flask mako{% endblock %}
{% block title %}Blog{% endblock %}
{% block content %}
  {% for post in posts %}
    <h2><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a> <small>{{ post.created_at.strftime('%H:%M:%S UTC %Y-%m-%d') }}</small> <a href="{{ url_for('posts.detail', slug=post.slug) }}#disqus_thread">{{ post.title }}</a></h2>
    <div class="panel panel-body">
      <p>{{ post.body | markdown | safe }}</p>
    </div>
  {% endfor %}
{% endblock %}
{% block js_footer %}
<script type="text/javascript">
var disqus_shortname = 'destrock';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}