{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block description %}About Mischa Alff, resumé etc.{% endblock %}
{% block keywords %}mischa aster alff python website blog projects c++ c linux windows kernel coding programming music piano rants showcase flask mako about resume abilities servers sysadmin{% endblock %}
{% block content %}
<div id="blog_post">
  <div id="blog_title">
   /* About Me */
  </div>
  <div id="blog_function">
        <div id="blog_entry">
          <p>My name is Mischa Alff. I'm a 15 year old Belgian student, raised in California, and studying in Luxembourg. I have been programming for about two years, and it has become both a profession and a hobby.
  I also play piano, and am learning cello. Music plays a great part in my daily life, as it allows me to better think. My other hobbies include astrophysics, which is most likely going to be the subject I will study in university, although I do not plan to make a profession out of it.</p>
  <p>I was born in Uccle, of Brussels, in Belgium. I lived there for two years before moving with my family to Los Angeles, of California. I stayed there for ten years, before my parents decided to return to Europe, in Luxembourg, where I currently reside.</p>
  <p>I am currently studying in the Athénée de Luxembourg, in their English IB dimploma programme.</p>
  <div id="blog_subtitle">
        My IT Expertise
  </div>
  <ul id="blog_subentry">
        <li>2 years of experience in C++
          <ul>
          <li>2 years of experience with SFML</li>
          <li>6 months of experience with the MySQL connector</li>
        </ul>
        </li>
        <li>1 year of experience in PHP</li>
        <li>2 years of experience in web development
          <ul>
          <li>2 years of experience with HTML and CSS</li>
          <li>1 year of experience with PHP</li>
          <li>6 months of experience with JavaScript</li>
        </ul>
        </li>
        <li>6 months of experience in Python</li>
        <li>5 years of experience with Linux</li>
        <li>Ability to assemble complex PC setups</li>
        <li>Ability to perform software and hardware maintenance tasks on Windows and Linux PCs</li>
        <li>Ability to set up large networks</li>
        <li>Ability to learn the basics of a new programming language in a few days</li>
  </ul>
        </div>
  </div>
</div>
{% endblock %}