<%page args="title='Mischa Aster Alff'"/>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mischa Aster Alff :: <%block name="title"/></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%block name="description" />" />
    <meta name="keywords" content="<%block name="keywords" />" />
    <meta name="revisit-after" content="1 days" />
    <meta name="robots" content="index,follow" />

    <link rel="shortcut icon" href="http://destrock.com/static/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/shjs/sh_destrock.css">
    <%block name="header"/>
  </head>

  <body onload="sh_highlightDocument();">
    <%include file="navbar.html"/>
    ${self.body()}
    <%include file="footer.html"/>

    <script type="text/javascript" src="/static/js/shjs/sh_main.min.js"></script>
    <script type="text/javascript" src="/static/js/shjs/sh_cpp.js"></script>
    <script type="text/javascript" src="/static/js/shjs/sh_c.js"></script>
    <script type="text/javascript" src="/static/js/shjs/sh_html.js"></script>
    <script type="text/javascript" src="/static/js/shjs/sh_php.js"></script>
  </body>
</html>
