<div id="blog_post">
  <a href="${}" style="text-decoration:none">
    <div id="blog_title">
      /*{{ post.title }}*/
    </div>
  </a>
  <div id="blog_function">
    {{ post.function_type }} {{ post.function_name }}(\
int post={{post.id}}, char* tags[]={\
{% for tag in post.tags.split(",") %}
"{{tag}}"\
  {% if tag != post.tags.split(",")[-1] %}
,\
  {% endif %}
{% endfor %}
})<br />
    {
      <div id="blog_entry">
        {{ post.content }}
      </div>
      <span style="margin-left:1.75em;">
        return\
        {% if post.return_value != "" %}
          {{" "+post.return_value}}\
        {% endif %}
;
      </span>
      <br />
    }
  </div>
</div>
