## -*- coding: utf-8 -*-

<%block name="title">Login</%block>
<%block name="description">Mischa Aster Alff's personal website, blog and showcase. Lots of coding, music, and rants!</%block>
<%block name="keywords">mischa aster alff python website blog projects c++ c linux windows kernel coding programming login</%block>

<%inherit file="base.html"/>
<form action="" method="post">
  <p><input type="text" name="username"></p>
  <p><input type="password" name="password"></p>
  <p><input type="submit" value="Login"></p>
</form>