{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block description %}Mischa Aster Alff's personal website, blog and showcase. Lots of coding, music, and rants!{% endblock %}
{% block keywords %}mischa aster alff python website blog projects c++ c linux windows kernel coding programming login{% endblock %}

{% block content %}
<form action="" method="post">
  <p><input type="text" name="username"></p>
  <p><input type="password" name="password"></p>
  <p><input type="submit" value="Login"></p>
</form>
{% endblock %}