## -*- coding: utf-8 -*-

<%block name="title">Projects</%block>
<%block name="description">Mischa Alff's Projects</%block>
<%block name="keywords">mischa aster alff python website blog projects c++ c linux windows kernel coding programming music piano rants showcase flask mako projects trianglesuper</%block>

<%inherit file="base.html"/>

<div><br />
  <div id="blog_post">
    <div id="blog_title">
     /* TriangleSuper */
    </div>
    <div id="blog_function">
      struct TriangleSuper<br />{<br />
      <div style="margin-left:1.75em;">
      image *scrnshot = <br />
      <img src="/static/images/ts/scrn.png"/>; <br />
      </div>
      <div id="blog_entry">
      <p>
        TriangleSuper was supposed to be my Ludum Dare 26 entry. However, due to issues, I didn't have time to submit it.
      </p>
      <p>
        TriangleSuper is a fast-paced game, in which you play as a hexagon, 
        and try to avoid triangle-delta-things that head towards you. 
        Some of the more noticeable features in this game are the particle effects it has, and the music.
      </p> 
      <p>
        The whole thing was produced by me, except for when a commit was pushed by someone else, obviously.
      </p>
      </div>
      <div style="margin-left:1.75em;">
        char GitHub[]=<script>spaces(13);</script>"<a href="https://github.com/Mischa-Alff/TriangleSuper">https://github.com/Mischa-Alff/TriangleSuper</a>"; <br />
        char Download_Linux_x64[]=&nbsp;"<a href="/static/files/TriangleSuper_Linux_x64.zip">/static/files/TriangleSuper_Linux_x64.zip</a>"; <br />
        char Download_Win32[]=<script>spaces(5);</script>"<a href="/static/files/TriangleSuper_Win32.zip">/static/files/TriangleSuper_Win32.zip</a>"; <br />
      </div>
      };
    </div>
  </div>
  <br />
  <div id="blog_post">
    <div id="blog_title">
      /* Open Hexagon */
    </div>
    <div id="blog_function">
    struct OpenHexagon<br />{
    <div style="margin-left:1.75em;">
      image *scrnshot = <br />
      <img src="/static/images/oh/oh.png"/>; <br />
    </div>
    <div id="blog_entry">
      <p>
        Open Hexagon is a fast-paced wall-evasion game, closely tied with music, 
        developed by Vittorio Romeo and I. It is also a clone of Super Hexagon, by Terry Cavanagh.
      </p>
      <p>
        The game is very simple and minimalist to play, but it has many features, like online scoreboards, 
        JSON and LUA scripting, and friend lists.
      </p>
      <p>
        I don't take part in the client coding so much, but I wrote the server software myself, 
        and aided with the network portion of the game.
      </p>
    </div>
    <div style="margin-left:1.75em;">
      char* GitHub[]=<script>spaces(8);</script>{"<a href="https://github.com/SuperV1234/SSVOpenHexagon">https://github.com/SuperV1234/SSVOpenHexagon</a>", <script>spaces(7);</script><span id="comment">// Client</span> <br />
      <script>spaces(24);</script>"<a href="https://github.com/SuperV1234/SSVOpenHexagonServer">https://github.com/SuperV1234/SSVOpenHexagonServer</a>"}; <span id="comment">// Server</span> <br />
      char Download_Linux[]=&nbsp;&nbsp;"<a href="http://vittorioromeo.info/Downloads/OpenHexagon/Linux/OpenHexagonV1.92.tar.gz">http://vittorioromeo.info/.../OpenHexagonV1.92.tar.gz</a>"; <br />
      char Download_Win32[]=&nbsp;&nbsp;"<a href="http://vittorioromeo.info/Downloads/OpenHexagon/OpenHexagonV1.92.7z">http://vittorioromeo.info/.../OpenHexagonV1.92.7z</a>"; <br />
      char Updater_Win32[]=&nbsp;&nbsp;&nbsp;"<a href="http://vittorioromeo.info/Downloads/OpenHexagon/AutoUpdaterV1.1.7z">http://vittorioromeo.info/.../AutoUpdaterV1.1.7z</a>"; <br />
      char Vee_Website[]=<script>spaces(5);</script>"<a href="http://vittorioromeo.info">http://vittorioromeo.info</a>"; <br />
      char Terry_Cavanagh[]=&nbsp;&nbsp;"<a href="http://distractionware.com/">http://distractionware.com/</a>"; <br />
    </div>
    };
  </div>
</div>
</div>