{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2>
    {% if create %}
      Add new Project
    {% else %}
      Edit Project
    {% endif %}
  </h2>

  <form role="form" action="?{{ request.query_string }}" method="post">
    {{ forms.render(form) }}
    <div class="form-group ">
      <label for="tags">Tags</label>
      <input class="form-control" id="tags" name="tags" type="text" value="{{ ', '.join(project.tags) }}">
    </div>
    <div class="actions">
      <input type="submit" class="btn primary" value="save">
      <a href="{{ url_for('admin.index') }}" class="btn secondary">Cancel</a>
      <button class="btn primary" type="button" id="UpdatePreview" name="UpdatePreview" from="body" to="body-render">Update Preview</button>
    </div>
  </form>
  <br>
  <br>
  <h3>Preview:</h3>
  <div id="body-render"></div>
{% endblock %}

{% block js_footer %}
<script src="/static/js/preview.js"></script>
{% endblock %}